.started {
  width: 200px;
  height: 32px;

  border: 0;
  border-radius: 8px;
  color: #333;
}

.pending {
  width: 200px;
  height: 32px;

  border: 0;
  border-radius: 8px;
  color: #333;
}

.stoped {
  width: 200px;
  height: 32px;

  border: 0;
  border-radius: 8px;
  color: #333;
}

.resume {
  width: 200px;
  height: 32px;

  border: 0;
  border-radius: 8px;
  color: #333;
}
