.progressContainer {
  margin: 16px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.progressPercentage {
  font-family: monospace;
  font-size: 24px;
  line-height: 24px;
  color: white;
  letter-spacing: 4px;
}

.progressBar {
  width: 200px;
  padding: 2px 2px;
  border-radius: 8px;
  background-color: #d9d9d9;
}

.progressFill {
  height: 8px;
  border-radius: 4px;
  background-color: #808080;
}
